<tittle>Welcome to the SHORTNER APP</tittle>
<h2> Username: <%=username%> </h2>
  <form action="/login" method="POST">
    <input type="text" name="username">
    <input type="submit" value="Sign in">
  </form>
