<tittle>Welcome to the SHORTNER APP</tittle>
  <% if (username) { %>
    <h2>Username: <%=username%></h2>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  <% } else { %>
    <form action="/login" method="POST">
      <input type="text" name="username">
      <input type="submit" value="Sign in">
    </form>
  <% }; %>
