<!DOCTYPE html>
<html lang="en">
<head>
  <h1>
    <% include ./partials/_header %>
  </h1>
  <tittle>TyneApp</tittle>
</head>
<body>
  <h1>
  ShortURL: <%=shortURL%>
  <form action="/urls/<%=shortURL%>" method="POST">
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="UPDATE">
  </form>
  </h1>
</body>
</html>