<!DOCTYPE html>
<html lang="en">
<head>
  <h1>
    <% include ./partials/_header %>
  </h1>
  <tittle>TyneApp</tittle>
</head>
<body>
  <ul>
    <% for (i in urls) { %>
      <li> <b><%= i %></b> --> <b><%=urls[i]%></b><a href="/urls/<%= i %>">Edit</a>
        <form method="POST" action="/urls/<%=i%>/delete">
          <input type="submit" value="DELETE">
        </form>
      </li>
    <% }; %>
  </ul>
  You can Short your Link HERE =>> <a href="/urls/new">Shortner</a>
</body>
</html>
