<!DOCTYPE html>
<html lang="en">
<head>
  <h1>
    <% include ./partials/_header %>
  </h1>
  <tittle>TyneApp</tittle>
</head>
<body>
  <ul>
    <% for (i in urls) { %>
      <li>link: <b><%=urls[i]%></b>   //   And its shortner form with this output: <b><%= i %></b> </li>
    <% }; %>

  </ul>
  You can Short your Link HERE =>> <a href="">Shortner</a>
</body>
</html>
